.container-1 .icon{<font></font>
  position: absolute;<font></font>
  top: 50%;<font></font>
  margin-left: 17px;<font></font>
  margin-top: 17px;<font></font>
  z-index: 1;<font></font>
  color: rgb(194, 150, 19);<font></font>
}
